version: '3.8'

services:
  telegram-bot:
    build: .
    container_name: ghosty-shop-bot
    restart: unless-stopped
    environment:
      - BOT_TOKEN=8351638507:AAEqc9p9b4AA8vTrzvvj_XArtUABqcfMGV4
      - TZ=Europe/Kiev
    volumes:
      - ./data:/app/data
    logging:
      driver: "json-file"
      options:
        max-size: "10m"
        max-file: "3"
